<h1>Storm Trooper J344Y</h1>
<h2>AKA: Jerry</h2>
<p>
  Jerry joined the empire at the sweet age of 21. He wanted to become
  stormtrooper to be able to see world's beyond his own
</p>
<p>
  In the academy Jerry realised he wasn't the brightest bulb in the box. But,
  what he lacked in brain matter he compansate with effort and sheerless power
  of will
</p>
<p>
  During one of his assigments Jerry met AWOADKL (Wendy for short). They fell in
  love, bought a tiny shack in a very sandy planet called Tattoine *real estate
  is a joke* and had two beautiful Predator looking kids. Tommy and Saphire
</p>
<p>
  His family are now in a Gallatic witness protection program due to the crimes
  of the Empire and being Jerry part of it
</p>