<div class="row g-5">
    <div class="col-md-8">
      <h2 class="pb-4 mb-4 fst-italic border-bottom">
        Career
      </h2>

      <article class="blog-post">
        <h3 class="blog-post-title">Early Career</h3>      
        <p>Jerry joined the Empire in the Gallatic year 3058 as a cadet. In the
      academy.....</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta, quasi at facilis quas deserunt labore necessitatibus similique. 
          Inventore ipsa ex cumque. Dolorum, saepe maxime! Nostrum dignissimos vero repellendus incidunt!</p>
        <hr>

        <h3 class="blog-post-title">Academy</h3>
        <p>This is an example blockquote in action:</p>       
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta, quasi at facilis quas deserunt labore necessitatibus similique. 
          Inventore ipsa ex cumque. Dolorum, saepe maxime! Nostrum dignissimos vero repellendus incidunt!</p>
        <hr>

        <h3 class="blog-post-title">Skills</h3>
        <p>This is an example blockquote in action:</p>       
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta, quasi at facilis quas deserunt labore necessitatibus similique. 
          Inventore ipsa ex cumque. Dolorum, saepe maxime! Nostrum dignissimos vero repellendus incidunt!</p>
        <hr>

        <h3 class="blog-post-title">Merits</h3>
        <p>This is an example blockquote in action:</p>       
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta, quasi at facilis quas deserunt labore necessitatibus similique. 
          Inventore ipsa ex cumque. Dolorum, saepe maxime! Nostrum dignissimos vero repellendus incidunt!</p>
        <hr>

      </article>
</div> 